@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;;
}

.logo {
  width: 300px;
  height: 100px;
}

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  margin-right: 10px;
}

.logo {
  width: 50%;
  height: 50%;
}