.logo {
  width: 300px;
  height: 100px;
}

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  margin-right: 10px;
}

.event-cards {
  display: flex;
  margin: 5%;
  flex-flow: row wrap;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.event-img {
  border-radius: 10%;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.logo {
  width: 50%;
  height: 50%;
}

.top-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  /* align-items: center;
  flex-wrap: wrap; */

  /* flex-direction: column; */
}

.main, .main2, .main3, .main4 {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: ghostwhite;
  border: 1px solid grey; */
}

.card {
  display: flex;
  width: 200px;
  height: 300px;
  border: 1px solid lightgrey;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Pizza_Hut_1967-1999_logo.svg/1200px-Pizza_Hut_1967-1999_logo.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
;}

.card2 {
  display: flex;
  transform: translate(-5px, -5px);
}

.card3 {
  display: flex;
  transform: translate(-10px, -10px);
}

.card4 {
  display: flex;
  transform: translate(-15px, -15px);
}

.card5 {
  display: flex;
  transform: translate(-20px, -20px);
}

@media (min-width: 768px) {
  .logo {
    width: 35%;
    height: 35%;
  }
}




