@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:300,400,500,600,700&display=swap');

html {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: #1E1E23;
  opacity: 1;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}

a:hover {
  color: #66b4ff;
}

li a:hover {
  color: #66b4ff;
}

ul {
  padding: 0;
  list-style-type: none;
}


nav {
  background-color: #1E1E23;
  height: 65px;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  height: 500px;
  box-shadow: 5px 5px 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #F5F6FA;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked~ul {
  transform: none;
}

.logo-image {
  width: 80px;
  height: 25px;
  position: relative;
  left: 70vw;
}

#logo-menu {
  position: relative;
  width: 80px;
  height: 25px;
  margin-bottom: 20px;
}

#menu-desktop {
  display: none;
}

#menuToggle-desktop {
  display: none;
}


@media only screen and (min-width: 768px) {
  .logo-image {
    width: 80px;
    height: 25px;
    position: relative;
    left: 85vw;
  }
}

@media only screen and (min-width: 1024px) {
  .logo-image {
    width: 80px;
    height: 25px;
    position: relative;
    left: 88vw;
  }
}


@media only screen and (min-width: 993px) {
  nav ul {
    margin: 0px;
    padding: 0px;
  }

  li {
    margin-right: 30px;
  }

  li a {
    margin: 0px;
    padding: 0px;
    color: #F5F6FA;
  }

  li a:hover {
    color: #66b4ff;
  }

  li a:active {
    color: #5d5e60;
  }

  .logo-image {
    width: 80px;
    height: 25px;
    position: relative;
    left: 2vw;
    top: 20px;
  }

  #menuToggle {
    display: none;
  }

  #menuToggle span {
    display: none;
  }

  #menu {
    visibility: hidden;
  }

  #menu-desktop {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 8px;
    color: #F5F6FA;
  }

  #menuToggle-desktop {
    margin: 2px;
  }
}
