<div class="top-nav">
  <img class="logo" src="./assets/stumble.png" alt="logo" />
</div>

<!-- Search Input Field  -->
<section class="search-fields">
  <div class="search-bar-container">
    <h4>Search for events below!</h4>
    <input [(ngModel)]="textSearch" type="text" placeholder="Search Family Events Here" class="search-bar" />

    <button class="search-btn" (click)="onSearch()">
      Search
    </button>
  </div>
</section>
<!-- Search Input Field -->

<section>
  <div class="randDataBox">
    <div class="randData" *ngFor="let events of sportsEvents">
      <p>Event: {{events['name']}}</p>
      <img class="event-img" src="{{events['images'][8]['url']}}">
      <a href="{{events['url']}}">Book Event</a><br>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<div class="container">
<!-- <div class="main" *ngFor=(let card of apiCall; let i = index)> -->
<div class="main">
  <!--   <div class="card {{i}} style={{backgroundImage: card.url}}"></div> -->
  <div class="card"></div>
  <div class="card card2"></div>
  <div class="card card3"></div>
  <div class="card card4"></div>
  <div class="card card5"></div>
</div>

<div class="main2">
  <!--   <div class="card {{i}} style={{backgroundImage: card.url}}"></div> -->
  <div class="card"></div>
  <div class="card card2"></div>
  <div class="card card3"></div>
  <div class="card card4"></div>
  <div class="card card5"></div>
</div>

<div class="main3">
  <!--   <div class="card {{i}} style={{backgroundImage: card.url}}"></div> -->
  <div class="card"></div>
  <div class="card card2"></div>
  <div class="card card3"></div>
  <div class="card card4"></div>
  <div class="card card5"></div>
</div>

<div class="main4">
  <!--   <div class="card {{i}} style={{backgroundImage: card.url}}"></div> -->
  <div class="card"></div>
  <div class="card card2"></div>
  <div class="card card3"></div>
  <div class="card card4"></div>
  <div class="card card5"></div>
</div>

</div>

