<div class="container">
  <div class="event-data card" *ngFor="let fav of favs; let i = index">
    <p>{{ fav["name"] }}</p>
    <img class="event-img" src="{{ fav['image'] }}" />
    <p>Date: {{ fav["localDate"] }}</p>
    <p>Location: {{ fav["city"] }}</p>
    <button class="book-event">
      <a href="{{ fav['url'] }}">Book Event</a> </button>
    <button class="remove" (click)="removeEvent(fav,i)">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>

<section>
  <div class="randDataBox">
    <div class="randData" *ngFor="let event of __TicketmasterApiService.favorites">
      <p>Event: {{event['name']}}</p>
      <img class="event-img" src="{{event['images'][1]['url']}}">
      <a href="{{event['url']}}">Book Event</a><br>
    </div>
  </div>
</section>
