@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|News+Cycle:700&display=swap");

a {
  text-decoration: none;
  font-family: "News Cycle", "Encode Sans Semi Expanded", sans-serif;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #f5f6fa;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-data {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.event-img {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid lightgrey;
  top: 40px;
  left: 40px;
  background-color: #f5f6fa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: red;
  user-select: none;
}

.remove {
  border: none;
  margin: 10px;
  cursor: pointer;
  user-select: none;
}
