

html {
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
  background-color: #36413e;
  animation-name: appBackground;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes appBackground {
  from {
    background-color: #36413e;
  }

  to {
    background-color: #5d5e60;
  }
}
