.button-container {
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.favorites {
 border: none;
 padding: 20px;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: #66b4ff;
  user-select: none;
}

.fas:hover {
  color: #b3daff;
}

.e-data {
  /* position: absolute;

  width: 200px;
  height: 300px; */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 2px 16px;
}

.e-data:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event-cards {
  display: flex;
  margin: 5%;
  flex-flow: row wrap;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.event-img {
  /* border-radius: 10%;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; */

  box-sizing: border-box;
  width: 100%;

}


.top-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}



/* .event-img {
  display: flex;
  width: 200px;
  height: 300px;
  border: 1px solid lightgrey;
  top: 40px;
  left: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px; */
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Pizza_Hut_1967-1999_logo.svg/1200px-Pizza_Hut_1967-1999_logo.svg.png'); */
  /* background-size: contain;
  background-repeat: no-repeat;
} */


@media (min-width: 600px) {
  .logo {
    width: 35%;
    height: 35%;
  }
}
