<!-- Search Input Field  -->
<section class="search-bar-container">
  <p>
    Search for events by entering a city below and click the thumbs up icon to
    save the event to your bucket list!
  </p>
  <input
    [(ngModel)]="textSearch"
    type="text"
    placeholder="Type in city here"
    class="search-bar"
  />
  <button class="search-btn" (click)="onSearch(textSearch)">Submit</button>
</section>

<br />

<div class="decks-container">
  <div class="category-div">
    <section
      class="cards-container"
      [ngStyle]="{
        top: i * -5 + 'px',
        left: i * -5 + 'px'
      }"
      *ngFor="let event of sportsEvents; let i = index"
    >
      <div class="event-data card" *ngIf="i < 5">
        <p>{{ event["name"] }}</p>
        <img class="event-img {{ i }}" src="{{ event['images'][1]['url'] }}" />
        <p>Location: {{ event._embedded.venues[0].city.name }}</p>
        <p>Date: {{ event.dates.start.localDate }}</p>
        <button class="book-event">
          <a href="{{ event['url'] }}">Book Event</a>
        </button>
        <span id="thumbs-section"
          ><button
            class="favorites"
            (click)="
              this.__TicketmasterApiService.addFavorites(event); deleteSports(i)
            "
          >
            <i class="fas fa-thumbs-up"></i>
          </button>
          <button class="favorites" (click)="deleteSports(i)">
            <i class="fas fa-thumbs-down"></i></button
        ></span>
      </div>
    </section>
  </div>

  <div class="category-div">
    <section
      class="cards-container"
      [ngStyle]="{
        top: i * -5 + 'px',
        left: i * -5 + 'px'
      }"
      *ngFor="let event of artEvents; let i = index"
    >
      <div class="event-data card" *ngIf="i < 5">
        <p>{{ event["name"] }}</p>
        <img class="event-img {{ i }}" src="{{ event['images'][1]['url'] }}" />
        <p>Location: {{ event._embedded.venues[0].city.name }}</p>
        <p>Date: {{ event.dates.start.localDate }}</p>
        <button class="book-event">
          <a href="{{ event['url'] }}">Book Event</a>
        </button>
        <span id="thumbs-section"
          ><button
            class="favorites"
            (click)="
              this.__TicketmasterApiService.addFavorites(event); deleteArt(i)
            "
          >
            <i class="fas fa-thumbs-up"></i>
          </button>
          <button class="favorites" (click)="deleteArt(i)">
            <i class="fas fa-thumbs-down"></i></button
        ></span>
      </div>
    </section>
  </div>

        </button>
        <span id="thumbs-section"
          ><button
            class="favorites"
            (click)="
              this.__TicketmasterApiService.addFavorites(event); deleteMusic(i)
            "
          >
            <i class="fas fa-thumbs-up"></i>
          </button>
          <button class="favorites" (click)="deleteMusic(i)">
            <i class="fas fa-thumbs-down"></i></button
        ></span>
      </div>
    </section>
  </div>
  <div class="category-div">
    <section
      class="cards-container"
      [ngStyle]="{
        top: i * -5 + 'px',
        left: i * -5 + 'px'
      }"
      *ngFor="let event of familyEvents; let i = index"
    >
      <div class="event-data card" *ngIf="i < 5">
        <p>{{ event["name"] }}</p>
        <img class="event-img {{ i }}" src="{{ event['images'][1]['url'] }}" />
        <p>Location: {{ event._embedded.venues[0].city.name }}</p>
        <p>Date: {{ event.dates.start.localDate }}</p>
        <button class="book-event">
          <a href="{{ event['url'] }}">Book Event</a>
        </button>
        <span id="thumbs-section"
          ><button
            class="favorites"
            (click)="
              this.__TicketmasterApiService.addFavorites(event); deleteFamily(i)
            "
          >
            <i class="fas fa-thumbs-up"></i>
          </button>
          <button class="favorites" (click)="deleteFamily(i)">
            <i class="fas fa-thumbs-down"></i></button
        ></span>
      </div>
    </section>
  </div>
</div>
