@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|News+Cycle:700&display=swap');



/* * {
  background: #5d5e60;
} */

.search-bar-container {
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #36413e;
  animation-name: searchbackground;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes searchbackground {
  from {
    background-color: #36413e;
  }

  to {
    background-color: #5d5e60;
  }
}

.search-bar {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.search-btn {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid #6b5ca5;
  background-color: #6b5ca5;
  color: white;
}

.search-btn:hover {
  background-color: #66b4ff;
  border: #66b4ff solid;
}

a:hover {
  background-color: #66b4ff;
}

.favorites {
  border: none;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: #66b4ff;
  user-select: none;
}

.e-data {
  /* position: absolute;

  width: 200px;
  height: 300px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px
}

.event-cards {
  display: flex;
  margin: 5%;
  flex-flow: row wrap;
  background-color: #F5F6FA;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #F5F6FA;
}

.event-img {
  border-radius: 10%;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}


.top-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
  text-align: center;
}



/* .event-img {
  display: flex;
  width: 200px;
  height: 300px;
  border: 1px solid lightgrey;
  top: 40px;
  left: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;

  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Pizza_Hut_1967-1999_logo.svg/1200px-Pizza_Hut_1967-1999_logo.svg.png');
  background-size: contain;
  background-repeat: no-repeat; */
/* } */


@media (min-width: 600px) {
  .logo {
    width: 35%;
    height: 35%;
  }
}
