@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #f5f6fa;
}


html {
  background: #8d8d92;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.category-div {
  position: relative;
  margin-left: calc(15 * 2px);
  background-color: white;
}

a:hover {
  background-color: #66b4ff;
}

.book-event {
  border: solid #6b5ca5;
  background-color: #6b5ca5;
  border-radius: 2px;
  margin-bottom: 3px;
}

.cards-container {
  position: absolute;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #f5f6fa;
}


.search-bar {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.search-btn {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid #6b5ca5;
  background-color: #6b5ca5;
  color: #F5F6FA;
}

.search-btn:hover {
  background-color: #66b4ff;
  border: #66b4ff solid;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: F5F6FA;
}
  .category-div {
  position: relative;
  margin-left: calc(15 * 2px);
}

.decks-container {
  display: flex;
flex-direction: row;
justify-content: center;
}

.event-data {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.event-img {
  display: flex;
  width: 200px;
  height: 200px;
  border: 1px solid lightgrey;
  top: 40px;
  left: 40px;
  background-color: #f5f6fa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: #66b4ff;
  user-select: none;
}

.fas:hover {
  color: #b3daff;
}

.favorites {
  border: none;
  display: flex;
  background-color: #f5f6fa;
  margin: 10px;
  cursor: pointer;
  user-select: none;
}

h2 {
  padding: 0px;
  margin: 0;
}

html {
  background: #8d8d92;
  width: 50%;
}

p {
  font-family: 'Roboto', sans-serif;  
  text-align: center;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 3px;
}

@keyframes searchbackground {
  from {
    background-color: #36413e;
  }

  to {
    background-color: #5d5e60;
  }
}

.search-bar {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.search-bar-container {
  font-family: 'Roboto', sans-serif;  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5f6fa;
}

.search-btn {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid #6b5ca5;
  background-color: #6b5ca5;
  color: #f5f6fa;
}

.search-btn:hover {
  background-color: #66b4ff;
  border: #66b4ff solid;
}

#thumbs-section {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  user-select: none;
}

