@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded|News+Cycle:700&display=swap');


html {
  background: #8d8d92;
}

.category-div {
  position: relative;
  margin-left: calc(15 * 5px);
  background-color: #36413e;
}

.sports-container {
  position: absolute;
  background-color: #F5F6FA;
}

.card {
  position: absolute;
  width: 350px;
  height: 530px;
  background-color: #F5F6FA;
}

.search-bar-container {
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F5F6FA;
  background-color: #36413e;
  animation-name: searchbackground;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes searchbackground {
  from {
    background-color: #36413e;
  }

  to {
    background-color: #5d5e60;
  }
}

.search-bar {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.search-btn {
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid #6b5ca5;
  background-color: #6b5ca5;
  color: #F5F6FA;
}

.search-btn:hover {
  background-color: #66b4ff;
  border: #66b4ff solid;
}

a {
  text-decoration: none;
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
}

a:hover {
  background-color: #66b4ff;
}

.favorites {
  border: none;
  display: flex;
  background-color: #F5F6FA;
  margin: 10px;
  cursor: pointer;
  user-select: none;

}

#thumbs-section {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  user-select: none;
}

.fas {
  font-size: 30px;
  cursor: pointer;
  color: #66b4ff;
  user-select: none;
}

.e-data {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px
}

.event-cards {
  display: flex;
  margin: 5%;
  flex-flow: row wrap;
  background-color: #F5F6FA;
}

.event-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  background-color: #F5F6FA;
}

/* .event-img {
  border-radius: 10%;
  max-width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  box-sizing: border-box;
  width: 100%;
  height: 135px;
} */


p {
  font-family: 'News Cycle', 'Encode Sans Semi Expanded', sans-serif;
  text-align: center;
}



.event-img {
  display: flex;
  width: 200px;
  height: 250px;
  border: 1px solid lightgrey;
  top: 40px;
  left: 40px;
  background-color: #F5F6FA;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* @media (min-width: 600px) {
  .logo {
    width: 35%;
    height: 35%;
  }
} */
